#clock {
    position: fixed;
    margin: 0 auto;
}

#clock img {
    position: absolute;
}

#second {
    position: absolute;
}


#minute {
    position: absolute;
}

#hour {
    position: absolute;
}

#iclock {
    text-align: center;
    display: block;
    font-family: arial;
    font-size: 30px;

}